<html>
<head>
    {%if user.is_authenticated%}
    <h1 align="center" >Welcome {{user.username}}
        <a href="/Bigmart/cartdetails/{{user.id}}/">
        <img hspace="30" src="/static/images/media/product_image/cart_image.png" align="right"  width="30" height="30">
    </a>
    </h1>
    <center><a href="/Bigmart/logout/" >Logout</a></center>
    {%endif%}
    <center><h3><a href="/Bigmart/productspage/">check another product</a></h3></center>
</head>
<body>
<center>
{%for i in product_image%}
   <img src="/static/images/media/{{i.image}}"  width="26%" height="60%">
<table>
   <tr><td >Name : {{i.product_id__name}}</td></tr>
   <tr><td>Serialnumber : {{i.product_id__serialnumber}}</td></tr>
<tr><td>price : {{i.product_id__price}}</td></tr>
<tr><td>Info : {{i.product_id__description}}</td></tr>
</table>
    <br>
    {%if user.is_authenticated%}
        <a href="/Bigmart/cart/{{i.product_id}}/"><button>Add To Cart</button></a>
    {%else%}
    <a href="/Bigmart/login/"><button>Add To Cart</button></a>
    {%endif%}
{% endfor %}
</center>
</body>
</html>